# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore client files
node_modules
app/assets/javascripts/bundle.js*

.byebug_history
.DS_Store

# Ignore application configuration
/config/application.yml